<div class="container-fluid mt-4 px-5">
  <div class="cards">
    <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>
        <%=render partial: "application/card", locals: {artwork: artwork}%>
      <% end %>
    <% end %>
  </div>
</div>
