<div class="container-fluid px-5">
  <div class="cards">
    <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>
        <%= render partial: "application/card", artwork: @artwork %>
      <% end %>
    <% end %>
  </div>
</div>
