.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 30px 0;
  text-align: center;
  margin-top: 50px;

}

.footer-logo img {
  width: 150px;
  margin-bottom: 20px;
}

.footer-links {
  margin: 20px 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.footer-social a:hover {
  color: #ddd;
}

.footer-payment a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.footer-payment a:hover {
  color: #ddd;
}

.footer-copyright {
  margin-top: 20px;
  font-size: 14px;
}

.footer-copyright i {
  color: red;
}
