// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";
@import "components/buttons";
@import "components/devise";

body {
  height: 100%;
  margin: 0;
}

.body-content {
  min-height: 100%; /* Assure que le contenu occupe toute la hauteur */
  padding-bottom: 100px; /* Ajoute un espace pour le footer */
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.cards .card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  height: 310px;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s ease;
  &:hover {
    text-decoration: none;
    transform: scale(1.05);
  }
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card-artwork-infos {
  position: relative;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-artwork-infos h2,
.card-artwork-infos h3,
.card-artwork-infos p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-artwork-infos h2 {
  font-family: "Lato", sans-serif;
  color: #555;
  font-size: 16px;
  margin: 10px 0;
  font-weight: 700;
}

.card-artwork-infos h3 {
  font-family: "Lato", sans-serif;
  color: #555;
  font-size: 13px;
  margin: 5px 0;
  font-weight: 400;
}

.card-artwork-infos p {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  color: #555;
  margin: 5px 0;
}

.price-and-trash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.price-and-trash p {
  margin: 0;
  font-size: 11px;
  color: #555;
}

.delete-link {
  color: red;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
}

.delete-link i {
  margin-left: 5px;
  font-size: 10px;
}

.delete-link:hover {
  color: darkred;
}
