<div class="footer" style="background-color: #000000; color: white;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3 mb-3 text-center text-md-left">
        <%= link_to root_path do %>
          <%= image_tag "logo-blanc.png", width: "100px" %>
        <% end %>
      </div>
      <div class="col-12 col-md-3 mb-3 text-center text-md-left">
        <p class="mb-1">À propos de</p>
        <p class="mb-1">FAQ</p>
        <p class="mb-0">Mentions légales</p>
      </div>
      <div class="col-12 col-md-3 mb-3 text-center">
        <a href="#" class="text-white mx-2"><i class="fab fa-github"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="col-12 col-md-3 mb-3 text-end">
        <i class="fab fa-cc-visa text-white mx-2"></i>
        <i class="fab fa-cc-mastercard text-white mx-2"></i>
        <i class="fab fa-cc-paypal text-white mx-2"></i>
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="mb-0">Ce site est fait avec <i class="fas fa-heart" style="color: red;"></i> par la Happy Team</p>
    </div>
  </div>
</div>
