<div class="footer px-5">
  <div>
    <%= link_to "Home" do %>
      <%= image_tag "logo-blanc.png", width: "100px"%>
    <% end %>
  </div>
  <div class="footer-links">
    <a href="#">À propos de</a>
    <a href="#">FAQ</a>
    <a href="#">Mentions légales</a>
  </div>
  <div class="footer-social">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-payment">
    <a href="#"><i class="fab fa-cc-visa"></i></a>
    <a href="#"><i class="fab fa-cc-mastercard"></i></a>
    <a href="#"><i class="fab fa-cc-paypal"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Happy Team
  </div>
</div>
